<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<!-- <link rel="stylesheet/less" type="text/css" href="<%= context.config.publicPath %>test.less" /> -->
	<link rel="stylesheet/less" type="text/css" href="<%= context.config.publicPath %>test.less" />
	<link rel="stylesheet/less" type="text/css" href="<%= context.config.publicPath %>global.less" />
	<script>
		window.less = {
			async: true,
			env: 'development'
		};
	</script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js" ></script> -->
	<script src="<%= context.config.publicPath %>less.js"" ></script>
	<!-- <link rel="stylesheet/less" type="text/css" href="../test.less" /> -->
</body>
</html>